sudo: false
dist: xenial
deploy:
  provider: pypi
  skip_existing: true
  user: brndnmtthws
  password:
    secure: GdTwi200IqIb8GbSW3tpV8eiLN+tyBdeZvqt9LyZjRB3vpVe6/TanU5hweqxD6IckmMBLe4JpjM8x/hL3NFOaEglk/t6kzlsskSGfsRa+SdDmxft2rXNqd11MF4vZXxfXWWkdB9suJl+F7WHd9LSd3HdgKaODdWx/BrCeZDyiqn5D2UFjulKNU/sQTnjhS7Emo0EKIfUKiXXUIN/oDvubD8qlhHiHN9qy6HYmRERMaVp7FTU5XJlCVFKwi6ODDR+iRy36mRWiunEHFwPFj8Rh4pbhYPlXKOiHU8l0agMFLKzkYcY/KiAmAQw16YQi3dI6oVm16iz4oeR1bV+P1qQmHPe5wW+O6YoTx+vTeDlncyyaiuM55TxOknkViKhYh8TktW5bRB8FpaH4AiKq3z66zYlk3WNGIz9pe1Kc4EWvP9+b3m+8+sOG1dy57Xj6vQk+Qgt4CjBd6dRgG3DK2/F5scge4zbvITQiXGVHO2WRyO690ghWCiHrHyGd1f7shsbBkuTAGSHjCg4bIBoByheFuvKeOaY40kU+DJLh6Z1j+DoVXwZDGGFzjfnXpi0dEig2zZm8d4izzdw3O+dljerRpbS3sHeynJ+NhV146/gSrXuJ6MOJoozDPuvtZlZo1dJvV94uoNMZVyRirBBy1wuBndQZ/O7uFOznCSJ+e8oi4E=
  on:
    tags: true
env:
  global:
    - CC_TEST_REPORTER_ID=e64a4a0dc31753602cce34e75fe6ff1ce10131381b9eb76d11f63e7c0a913db2
language: python
cache: pip
python:
  - "3.5"
  - "3.6"
  - "3.7"
install:
  - pip install .[test]
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
    > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - "./cc-test-reporter before-build"
script:
  - py.test --cov=optimal_buy_cbpro --cov-report xml
after_script:
  - "./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"
branches:
  only:
    - master
    - /^\d+\.\d+(\.\d+)?(-\S*)?$/
