[Unit]
Description=optimal-buy-gdax-buy
Wants=optimal-buy-gdax-buy.timer
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop optimal-buy-gdax
ExecStartPre=-/usr/bin/docker rm optimal-buy-gdax
ExecStartPre=/usr/bin/docker pull brndnmtthws/optimal-buy-gdax
ExecStart=/usr/bin/docker run --name optimal-buy-gdax \
  -v /var/lib/optimal-buy-gdax:/usr/src/app/state \
  brndnmtthws/optimal-buy-gdax \
  --db-engine sqlite:///state/gdax_history.db \
  --key myapikey \
  --b64secret mysecret \
  --passphrase mypassphrase \
  --mode buy \
  --btc-addr 3EEAE1oKEMnmHGU5Qxibv9mBQyNnes8j8N \
  --eth-addr 0xb794F5abcde39494cE839613fffBA74279579268 \
  --ltc-addr 3MxmLzTf4sPsFBGYUnX9MMMbTMeaUSox46

[Install]
WantedBy=optimal-buy-gdax-buy.target
