[Unit]
Description=optimal-buy-gdax-deposit
Wants=optimal-buy-gdax-deposit.timer
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
# If you're paid bi-weekly, you can use something
# like the command below to only run the deposit service
# on either even or odd weeks, depending on your needs.
#ExecStartPre=/bin/bash -c 'if [ $(($(date +%U) % 2)) == 1 ] ; \
#  then \
#    echo "this is an even week" ; exit 1 ; \
#  else \
#    echo "this is an odd week" ; exit 0 ; \
#  fi'
ExecStartPre=-/usr/bin/docker stop optimal-buy-gdax
ExecStartPre=-/usr/bin/docker rm optimal-buy-gdax
ExecStartPre=/usr/bin/docker pull brndnmtthws/optimal-buy-gdax
ExecStart=/usr/bin/docker run --name optimal-buy-gdax \
  -v /var/lib/optimal-buy-gdax:/usr/src/app/state \
  brndnmtthws/optimal-buy-gdax \
  --key myapikey \
  --b64secret mysecret \
  --passphrase mypassphrase \
  --mode deposit \
  --amount 1000 \
  --payment-method-id e49c8d15-547b-464e-ac3d-4b9d20b360ec

[Install]
WantedBy=optimal-buy-gdax-deposit.target
